<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
 <%- include('partials/head') %>


<body>
	<!-- Header -->
<%- include('partials/header') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/scarlet_winter_apple_tv_banner.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
	<div class="row">
		<% for (let i = 0; i < productos.length; i++) { %>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
				<section class="product-box h-100">
					<a href="/product/<%= productos[i].id %>">
						<figure class="product-box_image text-center">
							<img src="/images/products/<%= productos[i].nombreImagen %>" 
							     alt="<%= productos[i].nombreProducto %>" 
							     class="img-fluid" 
							     style="max-height: 200px; object-fit: contain;">
						</figure>
						<article class="product-box_data p-2">
							<h2 class="h5"><%= productos[i].nombreProducto %></h2>
							<p>Comentarios: <%= productos[i].comentarios.length %></p>
							<p>Subido por: 
								<a href="/users/perfil/<%= productos[i].usuario.id %>">
									<%= productos[i].usuario.nombreUsuario %>
								</a>
							</p>

						</article>
					</a>
				</section>
			</div>
		<% } %>
	</div>
</div>

	</div>


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>