
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<%- include('partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%= usuario.foto %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= usuario.usuario %>
						<a href="/profile-edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= usuario.email %></li>
						<li><%= usuario.productos %> productos</li>
						<li><%= usuario.seguidores %> seguidores</li>
						<li><%= usuario.comentarios %> comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/Iphone16.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Iphone 16</h2>
							<p>El nuevo iPhone 16 combina rendimiento, diseño y eficiencia en un solo dispositivo. Equipado con el chip A17, cámara dual mejorada y una pantalla Super Retina aún más brillante, es la opción ideal para quienes buscan velocidad, elegancia y duración de batería. Todo lo que amás del iPhone, ahora mejorado.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/Iphone16pro.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Iphone 16 Pro</h2>
							<p>Diseñado para profesionales y amantes de la tecnología, el iPhone 16 Pro lleva la experiencia al máximo. Con su nuevo chip A18 Pro, cámara triple con capacidades de fotografía computacional, cuerpo de titanio y pantalla ProMotion de 120 Hz, es el iPhone más potente y refinado hasta ahora.
							</p>
							<p>Comentarios: 17</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/iphone15pro.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Iphone 15 Pro Max</h2>
							<p>El iPhone 15 Pro Max ofrece potencia sin igual con el chip A17 Pro y un diseño ultrarresistente de titanio. Su sistema de cámara avanzada con teleobjetivo 5x permite capturar fotos y videos de nivel profesional. Ideal para quienes quieren lo último en innovación y tamaño de pantalla.
							</p>
							<p>Comentarios: 10</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/Iphone14.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Iphone 14</h2>
							<p>Clásico, confiable y veloz: el iPhone 14 sigue siendo una gran opción. Con su chip A15 Bionic, cámara dual con modo Cine y diseño elegante, es perfecto para quienes quieren un iPhone moderno sin irse a los extremos. Compatible con las últimas versiones de iOS.							</p>
							<p>Comentarios: 19</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/img-macbook-pro-2019.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Mac Book Pro 2019</h2>
							<p>Mac Book Pro 2019, cuenta con 32 gb de RAM y una gran fuente de poder</p>
							<p>Comentarios: 23</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/ipad-pro-11.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Ipad 11 Pro</h2>
							<p>Ipad pro, cuenta con 256 gb de espacio.</p>
							<p>Comentarios: 11</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/ipad-pro12.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Ipad 12 Pro</h2>
							<p>Ipad pro, cuenta con 512 gb de epacio.</p>
							<p>Comentarios: 16</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/apple-watch.webp" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Apple Watch</h2>
							<p>Ligero para llevar.</p>
							<p>Comentarios: 6</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/applewatch-serie 9.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Apple Watch Serie 9</h2>
							<p>Lo mas nuevo del mercado de relojes.</p>
							<p>Comentarios: 19</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/applevisionpro.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Apple Vision Pro</h2>
							<p>El futuro en cuanto a Inteligencia Artificial.</p>
							<p>Comentarios: 101</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta</h2>
						<p>Con tu primera compra recibirás un 10% de descuento pagando con tarjeta VISA, ¡y hasta 12 cuotas sin interés!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis </h2>
						<p>Durante todo el mes, estando registrado con iCloud, recibirás envíos gratis a toda Latinoamérica.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad</h2>
						<p>Al estar registrado con AppleCare, tendrás una garantía de 2 años.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->
</body>	