
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<%- include('partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= user.nombreUsuario %>
						<a href="/profile-edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= user.email %></li>
						<li><%= productos.length %> productos</li>
						<li>0 seguidores</li>
						<li>0 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
<% if (productos.length === 0) { %>
	<p class="col-12">No cargaste productos todavía.</p>
<% } else { %>
	<% productos.forEach(producto => { %>
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/product/<%= producto.id %>">
					<figure class="product-box_image">
						<img src="/images/products/<%= producto.nombreImagen %>" alt="<%= producto.nombreProducto %>">
					</figure>
					<article class="product-box_data">
						<h2><%= producto.nombreProducto %></h2>
						<p><%= producto.descripcion %></p>
						<!-- Podés incluir cantidad de comentarios si querés -->
						<p>Comentarios: <%= producto.comentarios ? producto.comentarios.length : 0 %></p>
					</article>
				</a>
			</section>
		</div>
	<% }) %>
<% } %>

		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	